.conteiner {
  .row {
    width: 1240px;
    margin: auto;
    padding-top: 25px;
  }
}
.header {
  background-image: linear-gradient(to top, #8f489a, #aa24be, #8f489a);
  //background-image: linear-gradient(to top, yellow, #aa24be, red);
  position: relative;
  .background{
    position: absolute;
    background-image: url("./../../assets/background.svg");
    height:100%;
    width:100%;
    display:inline-block;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #8f489a;
    border-radius: 0 0 50% 50%;
    height: 200px;
    width: 100%;
  }
  &__logo {
    // margin-top: 25px;;
  }
  &__sliderAndText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .slider {
    margin-top: 80px;;
      display: flex;
      width: 50%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      .leftArrow,
      .rightArrow {
        width: 40px;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        .icon {
          width: 9px;
          height: 16px;
          background-image: url("./../../assets/arrow.svg");
          background-size: 100%;
          display: inline-block;
        }
      }
      .rightArrow {
        transform: scaleX(-1);
      }
    }
    .textBlock {
      margin-left: 30px;
      width: 45%;
      h1 {
        font-family: $medium;
        font-size: 48px;
        color: white;
        font-weight: 500;
        margin-bottom:16px;
      }
      p {
        font-family: $light;
        color: white;
        font-size: 24px;
        font-weight: normal;
        margin-bottom:12px;
      }
      .atributes {
        display: flex;
        .atribute {
          margin-right: 40px;
          p {
            font-size: 20px;
            color: white;
            font-family: $light;
            font-weight: normal;
          }
          span {
            display: inline-block;
            text-align: center;
            line-height: 40px;
            min-width: 110px;
            height: 40px;
            border-radius: 30px;
            border: solid 1px #ffffff;
            font-size: 20px;
            color: white;
            font-family: $light;
            font-weight: normal;
          }
        }
      }
    }
    .info {
      //padding:0;
      line-height: 1.5;
      padding-left: 20px;;
      li {
        position: relative;
        list-style: none;
        font-size: 20px;
        color: white;
        font-family: $light;
        font-weight: normal;
        span {
          font-family: $medium;
          font-weight: normal;
        }
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          left: -20px;
          top: 10px;
          width: 8px;
          height: 8px;
          background-color: white;
          border-radius: 50%;
        }
        &.addres{
            margin-top:16px;
            &:before {
                top: 5px;
                left: -24px;
                width: 16px;
                height: 16px;
                
                background: none;
                background-image: url("./../../assets/addres.svg");
                border: none;
              }
        }
      }
    }
  }
}
.advantages {
  .row {
    
   
   
    
    
    
    
    
    .wrap{
        padding: 20px 60px;
        background: white;
        position: relative;
        z-index: 3;
        border-radius: 70px;
        top: 60px;
        margin-bottom: 60px;
        box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
        padding-bottom: 80px;
    }
    .advantage {
      display: inline-block;
      width: 44%;
      margin-top: 60px;
      &:nth-child(2n){
          margin-left: 4%;
      }
      img {
        float: left;
        margin-right: 16px;
        width:80px;
        height:80px;
      }
      p {
        font-family: $medium;
        font-size: 20px;
        line-height: 1.5;
        display: table-cell;
        height: 80px;
        vertical-align: middle;
        color: $black;
      }
      &.more {
        font-size: 24px;
        p {
          color: #8f489a;
          display: inline-block;
          border-bottom: 1px solid #8f489a;
          height: auto;
          margin-top: -80px;
        }
      }
    }
  }
}
.api {
  .row {
    display: flex;
    height: 392px;
    overflow: hidden;
    .instalApi {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h2 {
        margin: 0;
        font-size: 36px;
        font-family: $light;
        color: $black;
        font-weight: 300;
        line-height: 1.5;
        span {
          font-family: $medium;
        }
      }
      img {
        margin-top: 24px;
      }
    }
    .phones {
      position: relative;
      img.first {
        position: absolute;
        top: 125px;
        left: 252px;
        z-index: 2;
      }
      img.second {
        top: 80px;
        left: 0px;
        position: absolute;
      }
    }
  }
}
.history {
  .row{
      padding-top: 0;
  }
  .wrap{
    background: white;
    padding:60px;
    border-radius: 70px;
    position: relative;
    padding-bottom: 0;
  }
  h2 {
    font-size: 36px;
    font-family: $light;
    color: $black;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;;
  }
  .historyLine {
      border: 2px dotted #e1e3e6;
      border-left: none;
      height:190px;
      position: absolute;
      width:1110px;
      z-index:2;
      top: 170px;
      left: 85px;
  }

  &__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .element {
      display: flex;
      max-width: 320px;
      width:100%;
      margin-top: 20px;;
      margin-bottom: 80px;
      position: relative;
      z-index: 6;
      align-items: start;
      &:before{
             content:"";
            position: absolute;
            top:-29px;
            left:18px;
            display:inline-block;
            background-color:#8f489a;
            width:13px;
            height:13px;
            border-radius: 50%;
            z-index: 3;
      }
      //dispaly:
      .datetime {
        display: flex;
        flex-direction: column;
        .date {
          background-color: $black;
          width: 50px;
          height: 50px;
          color: white;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $montserrat;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.33;
          border-radius: 50%;
          p {
            margin: 0;
            font-weight: 900;
          }
        }
        .time {
          text-align: center;
          font-family: $montserrat;
          font-size: 12px;
          color: #b6bbc2;
          margin-top: 5px;
        }
      }
      .elementBlock {
        max-width: 221px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.1);
        margin-left: 16px;
        padding:16px;
        .title{
            display:flex;
            justify-content: space-between;
            
            .name {
                font-size: 14px;
                font-family: $montserrat;
                color:$black;
                margin-top: 4px;
                margin-bottom: 12px;
            }
            .id {
                font-size: 12px;
                font-family: $montserrat;
                color: #b6bbc2;
                margin-top: 4px;
                margin-bottom: 12px;
            }
         }
        .action {
            display:flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
          img {
              margin-right: 8px;;
          }
          span {
            font-size: 14px;
            font-family: $montserrat; 
            color:$black;
          }
        }
      }
    }
  }
}

.assistant{
    .row{
        h2{
            margin-top: 75px;;
            text-align: center;
            font-family: $light;
            font-size: 36px;
            color:$black;
            margin-bottom: 0px;
            font-weight: normal;
            span{
                font-family: $medium;
            }
        }


    }

    &__info{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .text{
            margin-right:40px;
            margin-left:0px;
            width:50%;
            h3{
                margin:0;
                font-size: 24px;
                color:$black;
                font-family: $medium;
                font-weight: normal;
                margin-bottom: 30px;;
            }
            p{
                margin:0;
                font-size: 20px;
                line-height: 1.5;
                color:$black;
                font-family: $light;
                font-weight: normal;
            }
        }
        img{
            flex-grow: 1;
            width:50%;
            margin-right:0px;
            margin-left:40px;
        }
        &:nth-child(2n){
            flex-direction: row-reverse;
            .text{
            margin-right:0px;
            margin-left:40px;
            }
            img{
                margin-right:40px;
                margin-left:0px;
            }
        }

    }

}
.footer{
    background-image: linear-gradient(to top, #8f489a, #aa24be, #8f489a);
    margin-top: 40px;
    padding:80px;
    text-align: center;
    position: relative;
    z-index: 3;
    .background{
        position: absolute;
        background-image: url("./../../assets/background.svg");
        height:100%;
        width:100%;
        display:inline-block;
        top: 0;
         left: 0;
         z-index: 1;
      }
    .row{
        position: relative;
        z-index:3;
        max-width: 683px;
        margin:auto;
    }
    &__text{
       text-align: center;
       h3{
        margin:0;
        font-size:36px;
        line-height: 1.5;
        color:white;
        font-family: $light;
        font-weight: normal;
        margin-bottom: 25px;;
        span{
            font-family: $medium;
        }

       }  
       p{
        margin:0;
        font-size: 20px;
        line-height: 1.5;
        color:white;
        font-family: $light;
        font-weight: normal;
        margin-bottom: 32px;;
       }
    }
    img{
        margin:auto;
        
    }
}

