
@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/gotham-pro.woff") format('woff');
}

@font-face {
  font-family: "GothamProM";
  src: url("./assets/fonts/gotham-pro-m.woff") format('woff');
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat.woff") format('woff');
}
$medium: GothamProM;
$light: GothamPro;
$montserrat: Montserrat;