@media (max-width: 1242px) {
    .conteiner {
        .row {
          width: calc(100% - 32px);
          margin: auto;
          padding-top: 25px;
         // background:red;
        }
      }
      .header {
        &__logo {
           text-align: center;
          }
          &:after {
            height: 70px; 
          }
        &__sliderAndText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .slider {
                margin-top:20px;
                width:  100%; 
                .leftArrow,
                .rightArrow {
                    background:none;
                    .icon {
                        background-image: url("./../../assets/arrowMobile.svg");
                    }
                }
            }
            .textBlock {
                width: 100%;
                margin-left: 0px;
                h1{
                    font-size: 30px;;
                }
                p{
                    font-size: 20px;;
                }
                .atributes .atribute {
                    p{
                        font-size: 16px;
                    }
                    span{
                        font-size: 16px;
                    }
                }
            }
        }
        .info {
            li{
                font-size: 16px;  
            }
            
          }
      }

    


      .advantages .row{
        .wrap{
            border-radius: 20px;
            top: 0px;
            margin-bottom: 0px;
            padding:10px 15px;
        }
        .advantage {
            margin-top: 15px;
            width: 100%;
            &:nth-child(2n){
                margin-left: 0;
            }
            p{
                font-size: 16px;
                display: block;
                height:50px;
            }
            img{
                width:50px;
                height:50px;
            }
            &.more {
                font-size: 16px;
                p{
                margin-top: 0px;
                margin-bottom: 15px;;
                }
            }
        }
      }
      .api .row{
        text-align: center; 
        height: auto;  
        padding-top: 30px;
        .instalApi {
            width:100%;
            h2{
                font-size: 22px;;
                margin-bottom: 15px;;
            }
            img{
                margin:auto;
            }
        }
        .phones {
           display:none; 
           
        }

      }
      .history {
          .row{
              padding-top:30px;
          }
        .wrap{
            padding:0 20px;
            padding-top: 25px;
            border-radius: 20px;
        }
        h2 {
            font-size: 22px;
            margin-top: 0px;
            margin-bottom: 0px;;
            text-align: center;
        }
        .historyLine {
            border: none;
            border-left: 2px dotted #e1e3e6;
            height: calc(100% - 180px);
            width:1px;
            top: 90px;
            left:20px;
        }
        &__elements {
           
            flex-wrap: nowrap;
            flex-direction: column;
            .element {
                margin-top: 15px;
                margin-left: 13px;
                margin-bottom: 45px;;
              &:before{
                top: 18px;
                left: -18px;
              }
              .elementBlock {
                margin-left: 8px;
              }
            }
        }
      }

      .assistant{
        .row{
            h2{
                font-size: 22px;
                margin-top: 5px;
            }
        }
        &__info{
            flex-direction: column-reverse;
            margin-top: 15px;
             margin-bottom: 20px;
             text-align: center;
            .text{
                margin-right:0px;
                margin-left:0px;
                width:100%;
                h3{
                    font-size: 20px;
                    margin-bottom:3px;
                    margin-top: 15px;;
                }
                p{
                    font-size: 16px;
                }
                }
                img{
                    margin-right:0px;
                    margin-left:0px;
                    width:50%;
                }
            &:nth-child(2n){
                flex-direction: column-reverse;   
                .text{
                    margin-right:0px;
                    margin-left:0px;
                    }
                    img{
                        margin-right:0px;
                        margin-left:0px;
                    }
            }
            

        }

      }
      .footer{
        padding:0px;
        &__text{
            h3{
                font-size: 22px;;
                border-bottom: 4px;
            }
            p{
                font-size: 16px;;
                margin-bottom: 16px;
            }
           
        }
        img{
            margin-bottom: 30px;;
        }
      }
}
@media (max-width: 650px) {
    .assistant{
        &__info{
            img{
                width:100%;
            }
        }
    }
}