// ul{
// 	padding:0;
// 	li{
// 	list-style: none;
// 	border: 1px solid gray;
// 	width:30%;
// 	}
// }
body{
	//border:none;
	margin:0;
}
p, h1, h2, h3, h4, h5, h6{
	margin:0;
	font-weight: normal;
}